.app {
  /* text-align: center; */
  background-image: url("./imgs/jetty.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-x: auto;
}



.navbar {
  background: steelblue;
  height: 188px;

  align-items: center;
  justify-content: space-between;

}



.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);


}

.mobile-nav-toggle {
  display: none;
}


.navbar img {
  height: 95px;
  display: flex;
  position: relative;
  padding: 10px;
  margin: 2rem

}

.primary-navigation img {
  margin: 2rem;
}

.nav-links {
  font-weight: 700;
  margin-inline-end: 0.75em;
}

.logout-bttn {
  width: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  color: aliceblue;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
  
  box-shadow: 0 0 5px #333;

}

.logout-bttn:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #7799d4;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

#logout-bttn {
  width: auto;
}

@media (max-width: 65em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;


    flex-direction: column;
    padding: min(30vh, 10rem) 2em;
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 1s ease-out;
  }

  .primary-navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    position: absolute;
    z-index: 9999;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 1rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 5rem;
    border: 0;
    display: block;
  }

  

}


@media (min-width: 35em) {
  .primary-navigation {
    --gap: clamp(1.5rem, 5vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 8rem) ;
  }
}





#signup-bttn {
  display: inline-block;
  float: right;
  border: #282c34;
  border-style: hidden;
  background-color: #282c34;
  text-decoration-color: antiquewhite;
  color: antiquewhite;
  height: 33px;
  width: 66px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.signup-page {
  background-image: url("./imgs/carosel.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #282c34;
  width: 100%;
  height: 100vh;
}

.signup-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 50%;

}

.signup-form {
  align-items: center;
  align-content: center;
  border: #282c34;
  border-style: double;
  border-spacing: 5px;
  display: inline-block;

}

.login-link {
  color: antiquewhite;
  display: inline-block;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  top: 50%;

}

#first-name-signup {
  padding: 3px 3px;
  margin: 3px;
  gap: 3px;

}

#last-name-signup {
  padding: 3px 3px;
  margin: 3px;
  gap: 3px;

}

#email-signup {
  margin: 3px;
}

#password-signup {
  margin: 3px;

}


.modal-show {
  display: block;
}

.modal-hide {
  display: none;
}

.event-page-header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.panel-1 {
  flex-basis: 43%;
  flex-grow: 1;
  background-image: url('./imgs/jetty.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.panel-2 {
  flex-basis: 57%;
  flex-grow: 1;
  padding: 40px 80px;
  background-image: url('./imgs/waves.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  color:aquamarine; 
  /* opacity: 50%; */
}

/* .event-page-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

.login-page {
  font-family: sans-serif;
  background-image: url(./imgs/carosel.jpg);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.organizer-login-page {
  font-family: sans-serif;
  background-image: url(./imgs/StonePony.webp);
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  width: 100%;
  height: 100vh;
}


.login-container {
  width: 380px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 17px #333;
}

.login-container p {
  color: antiquewhite;
  margin-bottom: 3px;
}

/* #organizer-login-link {
  margin-bottom: 100px;
} */

.login-header {
  text-align: center;
  padding-top: 75px;
}

.organizer-login-header {
  text-align: center;
  padding-top: 75px;
}

.login-header h1 {
  color: #333;
  font-size: 45px;
  margin-bottom: 80px;
}

.organizer-login-header h1 {
  color: antiquewhite;
  font-size: 45px;
  margin-bottom: 80px;
}

.login-form {
  text-align: center;
}

.login-form input, button {
  width: 300px;
  height: 40px;
  border: none;
  outline: none;
  padding-left: 40px;
  box-sizing: border-box;
  font-size: 15px;
  color: #333;
  margin-bottom: 40px;
}

.login-form button {
  text-align: center;
  padding-left: 0;
  background-color: #83acf1;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 10px;
}

.organizer-login-form button {
  text-align: center;
  padding-left: 0;
  background-color: #83acf1;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 80px;
}

.login-form button:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #7799d4;
}

.login-form input:hover {
  box-shadow: 2px 2px 5px #555;
  background-color: #ddd;
}

.login-form span {
  position: relative;
}

.login-form i {
  position: absolute;
  left: 15px;
  color: #333;
  font-size: 16px;
  top: 2px;
}

/* .comment-section {
  position: relative;
  border: #282c34;
  border-style: dotted;
} */

.comment-textarea {
  width: 500px;
}






.ask-to-sign-in {
  color: wheat;
  background-color: #333;
}



.event-card {
  margin: 0;
}

.info-container {
  width: 380px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 17px #333;
  text-align: center;
}

.organizer-info-container{
  width: 380px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 17px #333;
  text-align: center;
  font-weight: 600;
  color: lightcyan;
}

.description-container {
  width: 620px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 17px #333;
  text-align: center;
  font-weight: 600;
}

.comments-container {
  width: 620px;
  height: 700px;
  margin: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 17px #333;
  font-weight: 600;
  overflow-y: auto;

}

.organized-events-page {
  display: inline-block;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: space-between;
  overflow-x: auto;
  min-width: 0;

}

.each-event-card {
  display: inline-flex;
  align-items: center;
  margin: 5rem;
  min-width: 0;
  /* justify-content: space-around;
  justify-items: auto; */
  /* overflow-x: hidden; */

}

.all-event-card {
  align-items: center;
  align-content: center;
  display: block;
  float: left;
  padding: 5px;
}

.comment-section h1 {
  text-decoration: underline;
}

/* .comment-blurb h4 {
  width: auto;
  height: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 17px #333;
  
}
.comment-blurb h6 {
  display: flexbox;
  float: unset;
  float: none;

} */

.contact-card-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  display: flex;
}

.contact-card {
 padding: 10% 0 0 0;
 width: 20%;
 height: 40%;
 align-content: center;
 justify-content: center;
}





/* ////////////////////////////////////////////////////////*/
/* OrganizeEvent*/
/* ////////////////////////////////////////////////////////*/

.organize-event-page {
  background-image: url('./imgs/tillie.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;

}

.event-form{
  align-items: center;
  align-content: center;
  justify-items: center;
  display: flex;
  /* display: inline-block; */
  /* position: relative; */
  margin: auto;
  padding: 150px;
  margin-top: 50px;
  border-radius: 10px;
  border: #333;
  box-shadow: 0 0 4px #333;
  /* background-color: #ddd; */
  height: 75%;
  width: 75%;
  min-width: min-content;

}

.form-card {
  /* background-color: #7799d4; */
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  /* justify-content: center;
  align-items: center;
  position: relative; */
}

.event-form-inputs {
  float: left;
}

.event-form-description {
  float: right;
  position: relative;
}

.submit-event-bttn {
  bottom: 0;
  position: relative;
}

/* ////////////////////////////////////////////////////////*/
/* AuthCalComponent*/
/* ////////////////////////////////////////////////////////*/

.calendar-page {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  display: block;
  /* align-items: center; */
  /* justify-content: center; */
}

.calendar-header {
  /* align-items: center; */
  width: 100%;
  /* justify-content: center; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: 50%;
  padding-left: 100px; */
}

.calendar-header-title {
  display: block;
  /* float: left; */
  padding: 0 0 0 3%;
}

.calendar-component {
  width: 100%;
  height: 75vh;
  position: relative;
}

.event-color-key {
  float: right;
  display: block;
  /* margin: 0 0 0 25%; */
  padding: 5% 10% 0 65%;
  position: relative;
  width: fit-content;
  height: 20%;
  align-items: center;
}
 .event-types {
  display: flexbox;
  /* justify-content: space-between; */
 }

#rsvp {
  background-color: #04A777;
  height: fit-content;
}

#social {
  color: antiquewhite;
  background-color: #23395B;
  height: fit-content;
}

#arts {
  background-color: lightblue;
  height: fit-content;
}

#sports {
  background-color: red;
  height: fit-content;
}

#volunteer {
  color: antiquewhite;
  background-color: #5E0B15;
  height: fit-content;
}

#drink-and-dine {
  background-color: #B3DEC1;
  height: fit-content;
}

/* ////////////////////////////////////////////////////////*/
/* CommentSection*/
/* ////////////////////////////////////////////////////////*/

.comment-board {
  position: relative;
  border: #282c34;
  border-style: dotted;
}

.comments {
  position: relative;
}

/* ////////////////////////////////////////////////////////*/
/* OrganizerCommentCard*/
/* ////////////////////////////////////////////////////////*/

.pinned-comment h4 {
  /* position: absolute; */
  /* top: 0; */
  /* display: block; */
  /* padding: 10% 2% 2% 2%; */
  /* justify-content: space-around; */
  /* width: auto;
  height: auto;
  border-radius: 25px;
  background-color: #89FC00;
  box-shadow: 0 0 17px #333;
  color: #01161E; */
}

.comment-body {
  width: auto;
  height: auto;
  border-radius: 25px;
  background-color: #89FC00;
  box-shadow: 0 0 17px #333;
  color: #01161E;
  display: flex;
}

.commenter {
  display: flexbox;
  float: unset;
  float: none;
}

.pinned-comment h6 {
  /* display: flexbox;
  float: unset;
  float: none; */
}

.other-organizer-comment h4 {
  width: auto;
  height: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 17px #333;
}

.other-organizer-comment h6 {
  display: flexbox;
  float: unset;
  float: none;
}

/* ////////////////////////////////////////////////////////*/
/* UserCommentCard*/
/* ////////////////////////////////////////////////////////*/

.comment-blurb h4 {
  width: auto;
  height: auto;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 17px #333;
  
}
.comment-blurb h6 {
  display: flexbox;
  float: unset;
  float: none;
}
