<h1>A new town event has been posted!</h1>

<p>
  Heads up, an organizer that you follow has just posted a new event to the APB calendar!
</p>
<p>
  As always, head over to the app the rsvp and leave any comments on the event page!
</p>

  

